<template id="template">
    {{{{noop}}}}
    <div class="form-group row">
        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Name</label>
        <div class="col-sm-12 col-md-7">
            <input type="text"  value="{{name}}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Closing Date</label>
        <div class="col-sm-12 col-md-7">
            <input type="date" style="width: 200px;" value="{{date}}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-3 col-sm-6 col-md-7">
            <button class="btn btn-primary" on-click="addProduct">Add Product</button>
        </div>
        <div class="offset-md-3 col-sm-6 col-md-7">
            <button class="btn btn-primary" on-click="saveQuote">Save</button>
            <button class="btn btn-primary" on-click="publishQuote">Publish</button>
        </div>
    </div>
    <h6>Products</h6>
    <div class="d-flex flex-column">
        {{#each products}}
            {{#if buyer.id ==  @global.user.id}}
                <div class="d-flex justify-content-between mb-1">
                    <select as-select2="'api/products', 'name'" class="form-control" value="{{product.id}}">
                        <option value="{{product.id}}">{{product.name}}</option>
                    </select>
                    <input class="form-control" style="max-width: 100px;" value="{{quantity}}">
                </div>
            {{/if}}
        {{/each}}
    </div>
    {{{{/noop}}}}
</template>

<section class="section">
    <div class="section-header">
        <h1>Quotation</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Home</a></div>
            <div class="breadcrumb-item">Quotation</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>New quotation</h4>
                    </div>
                    <div class="card-body" id="target">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    
    var ractive = new Ractive({
        target: '#target',
        template: document.getElementById('template').innerHTML,
        data: {
            name: 
            'new Quotation',
            date:  moment().format('YYYY-MM-DD'),
            products: []
        },
        
        on:{
            addProduct(){
                this.push('products', { product: { id: null }, buyer: {id: window.user.id}, quantity: 0});
            },
            saveQuote(){
                var data = ractive.get({virtual:false});
                $.ajax({
                    url:'/quotation',
                    type:"POST",
                    data: JSON.stringify(data),
                    contentType:"application/json; charset=utf-8",
                    dataType:"json"
                })
                .then(c=>{
                   
                   ractive.set(c);
                   iziToast.success({
                        position: 'topCenter',
                        title: 'OK',
                        message: 'Successfully save record!',
                    });
                })
            },
             publishQuote(){
                var data = ractive.get({virtual:false});
                data.state = "published";
                
                $.ajax({
                    
                        url:'/quotation',
                        type:"POST",
                        data: JSON.stringify(data),
                        contentType:"application/json; charset=utf-8",
                        dataType:"json"
                    })
                    .done(c=>{
                    
                        ractive.set(c);
                        iziToast.success({
                            position: 'topCenter',
                            title: 'OK',
                            message: 'Quotation Published!',
                        });
                    });
                
            }
        }
    });

const urlParams = new URLSearchParams(document.location.search);
const id = urlParams.get('id');
$.getJSON('api/quotes/'+ id).then(function(quote){
    ractive.set(quote);
});
</script>